
__pycache__/
logs/
submitted.sql3

# figures
reports/figures/*

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# captum 
/notebooks/captum/

# DotEnv configuration
.env

# Mac OS-specific storage files
.DS_Store

# Distribution / packaging
*.egg-info/
*.egg
eggs/
.eggs/

# exclude data from source control by default
/data/fluoMNs/
/data/target/

#*.pdf
#*.ai
#*.png
#*.jpg
#*.ijm

# exclude models (put separately on Zenodo)
/models/*/*.pt

# exclude lock csv
*.lock

# Pycharm
.idea

# Sphinx documentation
docs/build/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover





